{% extends 'base.html' %}

{% block title %}
Přehled užívatelů
{% endblock %}

{% block content %}
<div class="row" style="margin-top:20px; margin-left:20px">
   <div class="col-8">
      <table class="table table-hover table-dark">
         <thead>
            <tr>
                <!-- Your Columns HERE -->
                <th scope="col">Login</th>
                <th scope="col">Jméno</th>
                <th scope="col">Email</th>
                <th scope="col">Typ</th>
                <th scope="col"></th>
                <th scope="col"></th>
            </tr>
         </thead>
         <tbody>
             <form method="post">
                 {{ form.hidden_tag() }}
                {% for user in users %}
                   <tr>
                       <td>{{ user.login }}</td>
                       <td>{{ user.username }}</td>
                       <td>{{ user.email_address }}</td>
                       <td>{{ user.user_type.name }}</td>
                       <td><a class="btn btn-primary" href="{{ url_for('user_detail_page', user_login=user.login) }}">Editovat</a></td>
                       <td><input name="deleted_user_name {{ user.login }}" id="{{ user.login }}" type="checkbox" value="{{ user.login }}"/></td>
                   </tr>
                {% endfor %}
                <td>{{ form.submit(class="btn btn-lg btn-block btn-primary") }}</td>
             </form>
         </tbody>
      </table>
   </div>
</div>
{% endblock %}